table, td, th {
  border: 1px solid black;
}
header, ul {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  height: 50px;
  vertical-align: bottom;
}
footer{
  text-align: center;
}
