* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 3%;
}
header {
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: white;
}
 h1 {
  color: white;
  text-align: center;
  background-color: blue;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  height: 30px;
  text-decoration: none;
}

main, p, h3 {
  color: black;
}

img{
  width: 50px;
}

footer {
  width: 100%;
  background-color: lightgreen;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 0;
  margin-right: 0;
  padding: 14px 16px;
  color: white;
}
